#newMoviesWidget {
	background-color:#ffffff;
	float:right;
	border:2px solid;
	width: 24%;
}

#recommenderWidget {
	background-color:#ffffff;
	float:left;
	border:2px solid;
	width:75%;
}

#recommededTagForSearch {
	background-color:#ffffff;
	float:left;
	border:2px solid;
	width:30%;
}

#randomNews {
	background-color:#ffffff;
	float:right;
	border:2px solid;
	width:69%;
}

#menu {
	width:99.68%;
	float:left;
	clear:left;
	border:2px solid;
	margin-bottom:2px;
	background-color:#ffffff;
}

#menu li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

#header {
	border:2px solid;
	height:100px;
	background-color:#ffffff;
}

#upperWidgetContainer {
	width:100%;
	float:left;
	margin-bottom:2px;
}

#lowerWidgetContainer {
	width:100%;
	float:left;
	clear:left;
}

#footer {
	width:99.68%;
	float:left;
	clear:both;
	border:2px solid;
	margin-top:2px;
	background-color:#ffffff;
}

#logo {
	float:left;
	height:65%;
	padding-left:10px;
}

#searchBar {
	float:left;
	clear:left;
	padding-left:10px;
}

#loginPannel {
	float:right;
	border:1px solid;
	margin-right:1px;
	width:23%;
}

body {
	width:60%;
	margin: 0 auto;
	background-color:#6eabcf;
}
